<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <nav>
        <img src="static/pelot.jpeg" alt="logo">
        <h1>
            تخمین قیمت ملک
        </h1>
    </nav>
    <main>
        <div class="data"></div>
        <div class="line"></div>
        <div class="output">
            <div class="info-output">
                قیمت تخمینی ملک
            </div>
            <div class="price">
                ۵.۵
            </div>
            ‍‍ <div class="billion">
            </div>
        </div>
    </main>
</body>

</html>