<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <nav>
        <img src="static/pelot.jpeg" alt="logo">
        <h1>
            تخمین قیمت ملک
        </h1>
    </nav>
    <main>
        <div class="output">
            <div class="info-output">
                :قیمت تخمینی ملک
            </div>
            <div class="price">
                <span class="price-digit">
                    ۵.۵
                </span>
                <div></div>میلیارد
            </div>
        </div>
        <div class="line"></div>
        <div class="data">
            <h2>مشخصات ملک مورد نظر:</h2>
            <div class="data-row-parent">
                <div class="data-row">
                    <span class="hline"></span>
                    <span class="title">مساحت:</span>
                    <input type="number" name="meter" id="meter">
                </div>
                <div class="data-row">
                    <span class="hline"></span>
                    <span class="title">طبقه:</span>
                    <input type="number" name="floor" id="floor">
                </div>
                <div class="data-row">
                    <span class="hline"></span>
                    <span class="title">طبقه:</span>
                    <input type="number" name="floor" id="floor">
                </div>
                <div class="data-row">
                    <span class="hline"></span>
                    <span class="title">طبقه:</span>
                    <input type="number" name="floor" id="floor">
                </div>
                <div class="data-row">
                    <span class="hline"></span>
                    <span class="title">طبقه:</span>
                    <input type="number" name="floor" id="floor">
                </div>
                <div class="data-row">
                    <span class="hline"></span>
                    <span class="title">طبقه:</span>
                    <input type="number" name="floor" id="floor">
                </div>
                <div class="data-row">
                    <span class="hline"></span>
                    <span class="title">طبقه:</span>
                    <input type="number" name="floor" id="floor">
                </div>
                <button>تخمین بزن</button>
            </div>

        </div>
    </main>
</body>

</html>